@font-face {
    font-family: 'Montserrat-Light';
    src: url('./fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('./fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Semibold';
    src: url('./fonts/Montserrat-Semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('./fonts/Montserrat-Bold.ttf') format('truetype');
}

/*global*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat-Regular';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat-Bold';
}

.custom-file-label {
    color: #adb5bd;
}

.form-control {
    color: #adb5bd;
}

.form-control::placeholder {
    color: #adb5bd !important;
}

.form-control:focus,
.custom-file-input:focus {
    box-shadow: none;
}

.red-color-text {
    color: #b92120;
    font-family: 'Montserrat-Semibold';
}

.red-btn {
    background-color: #ea2322;
    border: none;
    border-radius: 50px;
    color: #fff;
    padding: 12px 50px;
    width: auto;
    font-family: 'Montserrat-Bold';
    text-transform: uppercase;
    font-size: 16px;
}

/*global*/

.sign-up {
    height: 100vh;
    overflow: hidden;
    background-image: url(images/login-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-up .sign-up-left-section {
    height: 100%;
    background-image: url(images/image-background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 185px 16px 0 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login .sign-up-left-section {
    padding: 155px 16px 0 35px;
}

.sign-up .sign-up-right-section {
    height: 100%;
    background-image: url(images/color-background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 60px 24px 60px;
}

.sign-up .year-c {
    position: relative;
    bottom: -15px;
}

.login .year-c {
    position: relative;
    bottom: -40px;
}

.sign-up .form-control::placeholder {
    color: #8080809c;
}

.sign-up-left-section-upper {
    width: 50%;
}

.sign-up .calender-select-img {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 16px;
}

.sign-up .signup-input-fields {
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-size: 16px;
}

.sign-up .user-name {
    background-image: url(images/username.png);
}

.sign-up .discord-id {
    background-image: url(images/discord.png);
}

.sign-up .user-email {
    background-image: url(images/email.png);
}

.sign-up .user-password {
    background-image: url(images/password.png);
}

.sign-up .sign-up-left-section-down .signup-with p {
    color: #FFF;
    text-align: right;
    margin-bottom: 20px;
}

.sign-up .eng {
    background-color: #ea2322;
    color: #FFF;
    padding: 4px;
    border-radius: 4px;
    display: inline-block;

}

.sign-up .eng-outer {
    margin-left: 70px;
    background: #8080801c;
    border-radius: 4px;
    padding-right: 8px;
    font-size: 12px;
}

.sign-up .close-img {
    width: 60px;
    right: -30px;
    top: 25px;
}

.sign-up .custom-file-label {
    background-color: unset;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid #AEAEAE;
    padding-left: 40px;
    background-image: url(images/image.png);
}

.sign-up .custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "Choose File";
}

.sign-up .custom-file-label::after {
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
}

.sign-up .form-group {
    margin-bottom: 4px!important;
}

.sign-up .remember-forget-text {
    margin: 12px 0!important;
}

.sign-up .form-control {
    border: none;
    border-bottom: 2px solid #AEAEAE;
    padding: 10px 20px 10px 40px;
    font-size: 16px;
    outline: none;
    background-color: transparent;
    border-radius: 0;
}

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor !important;
    border: 0;
    opacity: 0.25;
}


/*General classes*/

body {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat-Regular';
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 16px;
    margin-bottom: 0;
    font-family: 'Montserrat-Regular';
}

img {
    max-width: 100%;
    height: auto !important;
}

a, button, input[type="submit"] {
    transition: all 0.5s ease !important;
    text-decoration: none;
}

a:hover, button:hover, input[type="submit"]:hover {
    opacity: 0.8 !important;
    text-decoration: none !important;
    transition: all 0.5s ease !important;
}

ul {
    list-style: none;
    padding: 0;
}


/*Login Page Styling Start */
.login-page {
    background: url(images/login-bg.png) no-repeat;
    background-size: cover;
    padding: 55px 0;
}

.login-page .login-text {
    background: url(images/image-background.png) no-repeat;
    padding: 107px 30px 8px;
    background-size: 100% 617px;
    border-bottom: 5px solid white;
}

.login-page .login-text h1 {
    color: #fff;
    font-family: 'Montserrat-Bold';
    font-size: 25px;
    padding-right: 60px;
}

.login-page .login-text h4 {
    color: #fff;
    font-size: 20px;
    font-family: 'Montserrat-Medium';
    margin-top: 50px;
}

.login-page .login-text h4 img {
    margin: 2px 0 0 20px;
}

.login-page .login-text .signup-with {
    margin-top: 140px;
    float: right
}

.login-page .login-text .signup-with p {
    color: #fff;
    font-family: 'Montserrat-Medium';
}

.login-page .login-text .signup-with p a:first-child img {
    margin-left: 15px;
}

.login-page .login-form {
    background: url(images/color-background.png) no-repeat;
    padding: 47px 40px 0;
    background-size: 100% 472px;
}

.login-page .login-form .close {
    opacity: 1;
    margin-top: -40px;
    position: absolute;
    right: -39px;
    top: 65px;
}

.login-page .login-form h1 {
    font-family: 'Montserrat-Bold';
    color: #663434;
}

.login-page .login-form h5 {
    color: #515151;
    font-family: 'Montserrat-Regular';
    font-size: 18px;
    margin: 15px 0;
}

.login-page .login-form h5 span {
    color: #b92120;
    font-family: 'Montserrat-Semibold';
}

.login-page .login-form form {
    margin-top: 30px;
}

.login-page .login-form form input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #AEAEAE;
    color: #ce174d;
    padding: 10px 20px 10px 40px;
    font-size: 14px;
    outline: none;
    margin-bottom: 20px;
}

.login-page .login-form form input.user {
    background: url(images/username.png) no-repeat;
    background-position: left 10px center;
    background-size: 16px;
}

.login-page .login-form form input.password {
    background: url(images/password.png) no-repeat;
    background-position: left 10px center;
    background-size: 16px;
}

.login-page .login-form form input.remember {
    width: auto;
    margin-right: 10px;
}

.login-page .login-form form .remember-me {
    float: left;
    font-size: 14px;
    color: #515151;
}

.login-page .login-form form .forgot {
    float: right;
    font-family: 'Montserrat-Semibold';
    font-size: 14px;
    color: #b92120;
}

.login-page .login-form form .login {
    background-color: #b92120;
    border: none;
    border-radius: 50px;
    color: #fff;
    padding: 7px 33px;
    width: auto;
    font-family: 'Montserrat-Bold';
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 50px;
    display: block;
}

.login-page .login-form form .not-account {
    font-size: 14px;
    color: #515151;
    margin-bottom: 70px;
}

.login-page .login-form form .not-account a {
    font-family: 'Montserrat-Semibold';
    color: #b92120;
    margin-left: 20px;
}

/*Login Page Styling End */


@media (min-width: 1280px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 1279.98px) {
    .container {
        max-width: 98%;
    }
}

@media (max-width: 1151.98px) {
    .login-page .login-text .signup-with {
        margin-top: 190px;
    }

    .login-page .login-text h1 {
        font-size: 45px;
        padding-right: 0;
    }

    .login-page .login-form .close {
        right: -20px;
    }
}

@media (max-width: 991.98px) {
    .login-page .login-text .signup-with {
        margin-top: 220px;
    }

    .login-page .login-text h1 {
        font-size: 34px;
    }

    .login-page .login-form form .forgot {
        margin-top: 0;
    }
}

@media (max-width: 767.98px) {
    .login-page .login-form .close {
        display: none;
    }

    .login-page .login-form form .forgot {
        margin-top: 20px;
    }

    .login-page .login-form {
        padding-bottom: 100px;
    }
}

@media (max-width: 575.98px) {
    .login-page .login-text .signup-with {
        margin-top: 150px;
    }

    .login-page .login-form form .forgot,
    .login-page .login-form form .remember-me {
        float: none;
    }

    .login-page .login-form form .not-account a {
        margin-left: 0;
        display: block;
    }

    .login-page .login-form form .not-account {
        font-size: 17px;
    }

    .login-page .login-form form .login {
        margin-top: 50px;
    }

    .login-page .login-text {
        padding-top: 200px;
    }

    .login-page .login-text h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 775px) {
    .login-text {
        display: none !important;
    }

    .login-form {
        background-size: 100% 781px !important;
    }

    .mobile-signup {
        margin-top: 20px;
    }

    .login-page .login-form form .not-account {
        margin-top: 30px;
    }

}

@media screen and (min-width: 776px) {
    .mobile-signup {
        display: none;
    }
}


h1 {
    font-size: 1.5rem;
}

/*top bar and sidebar*/
a.nav-link[data-toggle="sidebar"] {
    background: #FFF;
    padding: 6px!important;
    color: #000;
    border-radius: 25px;
    margin-right: 8px;
}

.navbar .nav-link.nav-link-user .user-img-radious-style {
    border-radius: 50px;
    box-shadow: 0 0 6px #00000025;
}

.nav-link-user img {
    width: 25px;
}

.theme-white .navbar {
    background-color: unset;
    box-shadow: unset;
}

.nav-link-user {
    color: #000!important;
    background: #FFF;
    border-radius: 16px;
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.theme-white .navbar .form-inline .form-control {
    background-color: #FFF;
    border-radius: 14px;
}

.theme-white .navbar .form-inline .btn {
    background-color: #dc3545;
    color: #FFF;
    border-radius: 8px;
    padding: 0;
    width: 33px;
    height: 33px;
    position: absolute;
    right: 0px;
}

.earth-globe {
    background: #80808017;
    border-radius: 4px;
    padding: 4px;
    display: flex;
}
/*top bar and sidebar*/

/*Tech Devs*/
@media (max-width: 1400px) {
    .sign-up-left-section-upper {
        width: 60%;
    }

    .sign-up .sign-up-right-section {
        padding: 24px 24px;
    }

    .login .sign-up-left-section-upper {
        width: 70%;
    }

    .login .sign-up-right-section {
        padding: 80px 24px;
    }
}

@media (max-width: 1199px) {
    .red-btn {
         padding: 6px 18px;
    }
}

@media (max-width: 991px) {
    .signup-with p {
        font-size: 12px!important;
    }

    input, select, .custom-file-label, p, a, button {
        font-size: 14px!important;
    }

    small, .small {
        font-size: 12px!important;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 16px!important;
    }

    .sign-up .custom-file-label::after {
        font-size: 12px;
    }

    .close-img {
        width: 35px!important;
        right: -17px!important;
        top: 20px!important;
    }

    .sign-up .sign-up-right-section {
        padding: 24px 16px!important;
    }

    .year-c {
        position: absolute!important;
        bottom: 8px!important;
    }
}

@media (max-width: 767px) {
    .account-social-icons {
        box-shadow: 0 0 6px #00000045;
        margin: 0 4px;
        width: 40px;
        display: none;
    }
}

@media (max-width: 575px) {
    input, select, .custom-file-label, p, a, button {
        font-size: 12px !important;
    }
}